html,
body {
  background-color: #f6e7d8;
  padding: 0;
  margin: 0;
  font-family: 'Kirang Haerang', cursive;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background-color: white;
  }
}
