.overlayBase {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.overlayAfter {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 5;
}

.overlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 5;
}

.contentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 90%;
  height: 60%;
  max-width: 500px;
  max-height: 900px;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  text-align: center;
  justify-content: center;
  z-index: 5;
}

.contentAfter {
  max-width: 500px;
  max-height: 900px;
  width: 90%;
  height: 60%;
  background-color: #f3c5c5;
  z-index: 5;
}

.contentBefore {
  width: 0%;
  height: 0%;
  background-color: transparent;
  z-index: 5;
}
.minioverlayBase {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.minioverlayAfter {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 10;
}

.minioverlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 10;
}

.minicontentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 45%;
  height: 20%;
  max-width: 225px;
  max-height: 135px;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 10;
}

.minicontentAfter {
  width: 45%;
  height: 20%;
  max-width: 225px;
  max-height: 135px;
  z-index: 10;
}

.minicontentBefore {
  width: 0%;
  height: 0%;
  z-index: 10;
}
.loginOverlayBase {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.loginOverlayAfter {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 5;
}

.loginOverlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 5;
}

.loginContentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 90%;
  height: 30%;
  max-width: 500px;
  max-height: 900px;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  text-align: center;
  justify-content: center;
  z-index: 5;
}

.loginContentAfter {
  width: 90%;
  height: 30%;
  max-width: 500px;
  max-height: 900px;
  background-color: #f3c5c5;
  z-index: 5;
}

.loginContentBefore {
  width: 0%;
  height: 0%;
  background-color: transparent;
  z-index: 5;
}
