.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 240, 219);
  position: sticky;
}
.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(251, 240, 219);
  border-radius: 30px;
}
.titleBox {
  display: block;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5px;
  background-color: rgb(253, 179, 140);
  box-shadow: 0px 0px 5px 5px rgb(251, 240, 219);
  font-weight: bold;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(253, 179, 140);
}
.container {
  max-width: 500px;
  max-height: 900px;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {
  margin-top: 25%;
  width: 90%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.myCanvas {
  border: 10px outset #ffc3c3;
  border-radius: 10%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.canvasZone {
  height: 45%;
  width: 100%;
  text-align: center;
  margin-top: 3%;
}
.optionZone {
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.strokeZone {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.colorZone {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widthZone {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnZone {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swatch {
  padding: 0.5%;
  background: #fff;
  border-radius: 20%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
}
.popover {
  z-index: 2;
  background-color: #fff;
  border-radius: 2%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border: 3px solid #f3c5c5;
  align-items: center;
  justify-content: center;
}
.picker {
  width: 20%;
  height: 10vh;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.btn {
  display: block;
  position: relative;
  float: left;
  width: 18%;
  height: 70%;
  padding: 0;
  margin: 2% 3% 1% 3%;
  font-weight: 300;
  text-align: center;
  font-family: "KOTRAHOPE", cursive;
  border-radius: 5px;
  transition: all 0.2s;
  color: #cd5c5c;
  box-shadow: 0px 0px 0px 0px #d47d64;
  background: #ffc3c3;
  border-color: #ffc3c3;
  font-size: 1.2rem;
}
.btn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.saveBtnZone {
  margin-top: 20%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.saveBtn {
  display: block;
  position: relative;
  float: left;
  width: 30%;
  height: 40%;
  padding: 0;
  margin: 2% 3% 1% 3%;
  font-weight: 300;
  line-height: 50px;
  color: #cd5c5c;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 0px #ffc3c3;
  background: #ffc3c3;
  border-color: #ffc3c3;
  text-align: center;
  font-size: 1.5rem;
  font-family: "KOTRAHOPE", cursive;
}
.saveBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.galleryBtnZone {
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.galleryBtnDiv {
  width: 100%;
  height: 50%;

  display: flex;

  align-items: center;
  justify-content: center;
}
.galleryBtn {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  height: 45%;
  padding: 0;
  font-weight: 300;
  line-height: 50px;
  color: #cd5c5c;
  border-radius: 10px;
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 0px #ffc3c3;
  background: #ffc3c3;
  border-color: #ffc3c3;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 7%;
  font-family: "KOTRAHOPE", cursive;
}
.galleryBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.overlayBase {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  touch-action: none;
}

.overlayAfter {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.contentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 70%;
  height: 30%;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 3%;
  outline: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  max-width: 350px;
  max-height: 270px;
}

.contentAfter {
  width: 70%;
  height: 30%;
  max-width: 350px;
  max-height: 270px;
  background-color: #f6e7d8;
}

.contentBefore {
  width: 0%;
  height: 0%;
  background-color: transparent;
}
