.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6e7d8;
  max-width: 500px;
  max-height: 900px;
}
.container {
  margin-top: 3%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {
  width: 90%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.myCanvas {
  border: 10px outset rgb(253, 179, 140);
  border-radius: 10%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.canvasZone {
  height: 45%;
  width: 100%;
  text-align: center;
  margin-top: 3%;
}
.optionZone {
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.strokeZone {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.colorZone {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widthZone {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnZone {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swatch {
  padding: 0.5%;
  background: #fff;
  border-radius: 20%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
}
.popover {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 2%;
  border: 2px groove white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 53%;
  bottom: 36%;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.btn {
  display: block;
  position: relative;
  float: left;
  width: 18%;
  height: 80%;
  padding: 0;
  margin: 2% 3% 1% 3%;
  font-weight: 600;
  text-align: center;
  font-family: 'KOTRAHOPE', cursive;
  color: black;
  border-radius: 60%;
  transition: all 0.2s;
  box-shadow: 0px 5px 0px 0px rgb(253, 179, 140);
  background: rgb(253, 179, 140);
}
.btn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.saveBtnZone {
  margin-top: 20%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.saveBtn {
  display: block;
  position: relative;
  float: left;
  width: 30%;
  height: 40%;
  padding: 0;
  margin: 2% 3% 1% 3%;
  font-weight: 600;
  line-height: 50px;
  color: black;
  border-radius: 40%;
  transition: all 0.2s;
  box-shadow: 0px 5px 0px 0px rgb(253, 179, 140);
  background: rgb(253, 179, 140);
  text-align: center;
  font-size: 1rem;
}
.saveBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.galleryBtnZone {
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.galleryBtnDiv {
  width: 100%;
  height: 50%;

  display: flex;

  align-items: center;
  justify-content: center;
}
.galleryBtn {
  display: block;
  position: relative;
  float: left;
  width: 60%;
  height: 45%;
  padding: 0;

  font-weight: 600;
  line-height: 50px;
  color: black;
  border-radius: 45%;
  transition: all 0.2s;
  box-shadow: 0px 5px 0px 0px rgb(253, 179, 140);
  background: rgb(253, 179, 140);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 7%;
}
.galleryBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  margin-top: 15px;
  margin-bottom: 5px;
}
.overlayBase {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayAfter {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.contentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 70%;
  height: 30%;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 3%;
  outline: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contentAfter {
  top: 20%;
  left: 14%;
  width: 70%;
  height: 30%;
  background-color: #f6e7d8;
}

.contentBefore {
  top: 20%;
  left: 14%;
  width: 0%;
  height: 0%;
  background-color: transparent;
}
