.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.App {
  height: 100%;
  width: 100%;
  background-color: rgb(251, 240, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}
.App::-webkit-scrollbar {
  display: none;
}
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.titleBox {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  background-color: rgb(253, 179, 140);
  box-shadow: 0px 0px 5px 5px #f6e7d8;
  margin-left: 5%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(253, 179, 140);
}
.light {
  position: fixed;
  top: 0;
  left: 0;
}
.body {
  margin-top: 300px;
  margin-bottom: 500px;
  justify-content: center;
  align-items: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 70%;
  height: 20%;
  color: white;
  font-weight: bold;
  justify-content: right;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 4;
}
.buttonStyle {
  justify-content: center;
  align-items: center;
  font-weight: 200;
  text-align: center;
  background-color: rgb(253, 179, 140);
  color: #cd5c5c;
  height: 30px;
  border-radius: 0px;
  width: 50%;
  font-family: "KOTRAHOPE", cursive;
  border-color: rgb(253, 179, 140);
  z-index: 4;
}
.frameBox {
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.frontImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frontImage2 {
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: 400px;
}
.backImage2 {
  position: absolute;
  top: 20%;
  left: 20%;
  margin-top: 400px;
}
.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}
.overlayBase {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlayAfter {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  z-index: 10;
}

.overlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 10;
}

.contentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  text-align: center;
  justify-content: center;
  z-index: 10;
}

.contentAfter {
  z-index: 10;
}

.contentBefore {
  width: 0%;
  height: 0%;
  background-color: transparent;
  z-index: 10;
}

.nameTagBig {
  display: inline-flex;
  background-color: rgba(253, 179, 140, 0.3);
  border-radius: 5px;
  margin-right: 15px;
}
.nameTagSmall {
  display: inline-flex;
  background-color: rgba(253, 179, 140, 0.3);
  border-radius: 5px;
  margin-right: 5px;
}
.nameTagBig:active {
  /* set time duration to your needs */
  background: rgba(253, 179, 140, 0.5);
  color: #fff;
  box-shadow: none;
}
.nameTagSmall:active {
  /* set time duration to your needs */
  background: rgba(253, 179, 140, 0.5);
  color: #fff;
  box-shadow: none;
}

.minioverlayBase {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.minioverlayAfter {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 12;
}

.minioverlayBefore {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 12;
}

.minicontentBase {
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 45%;
  height: 15%;
  max-width: 225px;
  max-height: 135px;
  border: 5px solid #f3c5c5;
  background: #f6e7d8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 12;
}

.minicontentAfter {
  width: 45%;
  height: 15%;
  max-width: 225px;
  max-height: 135px;
  z-index: 12;
}

.minicontentBefore {
  width: 0%;
  height: 0%;
  z-index: 12;
}
.mainBtn {
  display: block;
  width: 50%;
  font-weight: 200;
  text-align: center;
  color: #cd5c5c;
  border-radius: 5%;
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  background: #ffc3c3;
  font-family: "KOTRAHOPE", cursive;
  border-color: #ffc3c3;
  font-size: 1.2rem;
  margin-right: 1px;
}
.mainBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
}
.returnBtn {
  display: block;
  width: 50%;
  font-weight: 200;
  text-align: center;
  color: #cd5c5c;
  border-radius: 5%;
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 0px #f3c5c5;
  background: rgb(243, 232, 218);
  font-family: "KOTRAHOPE", cursive;
  border-color: #ffc3c3;
  font-size: 1.2rem;
  margin-left: 1px;
}
.returnBtn:active {
  box-shadow: 0px 0px 0px 0px #f3c5c5;
}
